# Build products
target/

# IntelliJ data
*.iml
.idea/
.ipr

# Eclipse IDE
.project
.classpath
.checkstyle
.settings/

# Documentation build output
/docs/_build

.DS_Store

derby.log

# Test databases
__test_database_*
test.sqlite
*.db-journal
